<div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>HOUSE<em>3D</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Liên hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog kiến thức</a>
            </li>
            <%if(session.cart == null){%>
              <li class="nav-item">
                <a class="nav-link" href="Cart"><h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
                </a>
              </li>
            <%}else{%>
            <li class="nav-item">
              <a class="nav-link" href="Cart"><h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
                <p class="qtyCart"><%-session.cart.Qty%></p>
              </a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
  </header>