<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
<body>
<%- include("header")%>
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <h1>Thanh toán thành công</h1><br>
          <a href="/" class="btn btn-primary">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>
<%- include("footer")%>

<%- include("link")%>
    
</body>
</html>